/*!
Theme Name: serviztest
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: serviztest
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

serviztest is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{ font-weight: 300;-webkit-text-size-adjust:100%;-ms-text-size-adjust: 100%;color: #1d1f21;}body{background: #ffffff;background-size: cover !important;margin:0;position:  relative;overflow-x:  hidden !important;}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}ba{color:#404040;font-family:inherit;font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both; font-weight:300}p{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ul,ol{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li >ul,li >ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:bold}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%;display: inline-block;}table{margin:0 0 1.5em;width:100%}.main-navigation{clear:both;display:block;float:left;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation li{float:left;position:relative}.main-navigation a{display:block;text-decoration:none}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:1.5em;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul a{width:200px}.main-navigation ul ul li{}.main-navigation li:hover >a,.main-navigation li.focus >a{}.main-navigation ul ul:hover >a,.main-navigation ul ul .focus >a{}.main-navigation ul ul a:hover,.main-navigation ul ul a.focus{}.main-navigation ul li:hover >ul,.main-navigation ul li.focus >ul{left:auto}.main-navigation ul ul li:hover >ul,.main-navigation ul ul li.focus >ul{left:100%}.main-navigation .current_page_item >a,.main-navigation .current-menu-item >a,.main-navigation .current_page_ancestor >a,.main-navigation .current-menu-ancestor >a{}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width:37.5em){.menu-toggle{display:none}.main-navigation ul{display:block}}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:before,.clear:after,.entry-content:before,.entry-content:after,.comment-content:before,.comment-content:after,.site-header:before,.site-header:after,.site-content:before,.site-content:after,.site-footer:before,.site-footer:after{content:"";display:table;table-layout:fixed}.clear:after,.entry-content:after,.comment-content:after,.site-header:after,.site-content:after,.site-footer:after{clear:both}
*:focus {outline: 0;}


.nw{
	width: 1170px;
	margin: 0 auto;
}
.blog-item{
	width: 50%;
	text-align: center;
	margin: 40px 0 0 ;
}
.blog-items{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.blog-item-image img{
	width: 500px;
	height: 500px;
}
.blog-item-image{
	margin-bottom: 15px;
}
.blog-item h2{
	font-size: 22px;
	font-weight: 400;
	font-family: 'Montserrat',sans-serif;
	margin-top: 0;
}
.blog-item a{
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.blog-сt{
	padding: 50px 0;
}
.post-content-ct{
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}
.post-content-text{
	width: 40%;
	padding-right: 15px;
	font-family: 'Montserrat', sans-serif;
}
.post-content-image{
	width: 50%;
	padding-left: 15px;
}
.post-content-text h2{
	margin-top: 0;
	font-size: 25px;
	font-weight: 400;
}
.post-content-text p{
	margin-bottom: 25px;
}
.post-content-text p:last-child{
	margin-bottom: 0;
}
.post-content-text-button{
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	padding: 10px 20px;
	font-size: 14px;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.5s ease-in;
}
.post-content-text-button:hover{
	background: #2d3136;
	color: white;
}